<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenism.eduservice.mapper.EduCourseMapper">

    <select id="getCoursePublish" resultType="com.greenism.eduservice.entity.vo.CoursePublishVO">
        select edc.title,edc.cover,edc.price,edc.lesson_num as lessonNum,
        edt.name as teacherName,
        eds.title as subjectLevelOne,eds1.title as subjectLevelTwo
            from edu_course edc
				left join edu_teacher edt on edc.teacher_id = edt.id
				left join edu_subject eds on edc.subject_parent_id = eds.id
				left join edu_subject eds1 on edc.subject_id = eds1.id
        where edc.id = #{courseId}
    </select>
    <select id="selectCourseInfoById" resultType="com.greenism.eduservice.entity.frontvo.CourseWebVo">
        select edc.id,edc.title,edc.cover,edc.price,edc.lesson_num as lessonNum,edc.buy_count as buyCount,edc.view_count as viewCount,
				ecd.description,
                edt.id as teacherId,edt.name as teacherName,edt.intro,edt.avatar,
                eds.title as subjectLevelOne,eds.id as subjectLevelOneId,
				eds1.title as subjectLevelTwo,eds1.id as subjectLevelTwoId
            from edu_course edc
				left join edu_teacher edt on edc.teacher_id = edt.id
				left join edu_subject eds on edc.subject_parent_id = eds.id
				left join edu_subject eds1 on edc.subject_id = eds1.id
				left join edu_course_description ecd on edc.id = ecd.id
        where edc.id = #{courseId}
    </select>
</mapper>
